body {
  background: rgb(51, 51, 51) !important;
}

.scoreboard {
  /* padding: 2rem; */
  align-content: center;
  margin: 40px auto;
  border: 3px solid white;
  width: 200px;
  height: 80px;
  color: blueviolet;
  font-size: 45px;
}

.user-buttons {
  align-content: center;
  margin-top: 7rem;
  outline: none;
}

/* .user-buttons:focus {
    outline: none !important;
} */

.paper-image,
.scissor-image,
.rock-image {
  width: 150px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.play-button {
  border-radius: 50%;
}

.comp-play{
    padding-top: 7rem;
}

.lower-navigation {
  padding: 50px;
}

.comp-section {
  min-height: 50px;
  max-height: 50px;
}
