.scoreboard {
  color: blueviolet;
}

.user-buttons {
  align-content: center;
  margin-top: 10rem;
  outline: none;
}

/* .user-buttons:focus {
    outline: none !important;
} */

.paper-image,
.scissor-image,
.rock-image {
  width: 150px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.play-button {
  border-radius: 50%;
}

.comp-play{
    padding-top: 7rem;
}

.lower-navigation {
  padding: 50px;
}

.comp-section {
  min-height: 50px;
  max-height: 51px;
}
