body {
  background: rgb(59, 59, 59) !important;
}

.scoreboard {
  /* padding: 2rem; */
  align-content: center;
  margin: 40px auto;
  border: 3px solid white;
  width: 200px;
  height: 60px;
  color: #52a77c;
  font-size: 40px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.20) !important;

}

.scoreboard-you {
  color: honeydew;
  text-align: right;
  margin: 40px auto;
}

.scoreboard-comp {
  color: honeydew;
  text-align: left;
  margin: 40px auto;
}

#scoreboard-title {
  font-size: 40px;
  color: black;
  text-shadow: 2px 2px #52a77c;
}

.user-buttons {
  align-content: center;
  margin-top: 7rem;
  outline: none;
}

/* .user-buttons:focus {
    outline: none !important;
} */

.paper-image,
.scissor-image,
.rock-image {
  width: 150px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

.shadowmane::before {
  content: '';
  position: absolute;
  bottom: -50px;
  left: 25%;
  width: 40%;
  height: 20px;
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
  z-index: -1;
  filter: blur(7px);
}

.play-button {
  border-radius: 50%;
}

.comp-play {
  padding-bottom: 4rem;
}

.lower-navigation {
  padding: 50px;
  margin-top: 5rem;
}

.comp-section {
  min-height: 50px;
  max-height: 50px;
}

.computer-play {
  animation: shake 0.6s;
  /* animation-iteration-count: infinite; */
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
