.main-nav {
  margin-top: 7rem;
}

#front-title {
  font-size: 40px;
  color: black;
  text-shadow: 2px 2px #52a77c;
}

.home-tron {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6) !important;
  margin: 30px auto;
  width: 800px;
  background-color: inherit;
  color: white;
  border: 2px solid black;
}

.btn-go {
    background: #52a77c;
  transition-duration: 0.4s;
}

.btn-go:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.30) !important;

}
